@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
	
	--main-color: #1A4C39;
	
	--font-xs: 12px;
	--font-s: 14px;
	--font-m: 16px;
	--font-l: 18px;
	--font-xl: 20px;
	--font-heading4: 24px; 
	
}

body {
	background-color: var(--main-color);
	color: white;
	font-size: var(--font-heading4);
	font-family: 'PT Sans Narrow', sans-serif;
}