@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

:root {

  --main-color: #1A4C39;

  --beige: #F9EFDB;
  --beige-mid: #ECE7CA;
  --beige-dark: #DACAA4;
  --beige-darker: #D1BB91;
  --beige-darkest: #C8AD7E;

  --gray: #E4E4E4;
  --gray-mid: #CDCFCC;
  --gray-dark: #B7B8B3;
  --gray-darker: #9A9C99;
  --gray-darkest: #5D5E60;

  --main-green-0: #1A4C39;
  --main-green-1: #1b842c;
  --main-green-2: #3aab58;
  --main-green-3: #4fc879;
  --main-green-4: #A7E4BC;

  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 18px;
  --font-l: 20px;
  --font-xl: 22px;
  --font-heading4: 24px;
  --font-heading3: 28px;
  --font-heading2: 32px;
  --font-heading1: 36px;

  --space-2xs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 20px;
  --space-xl: 32px;

  --table-base-width: 350px;

}

html {
  height: 100vh;
}

html, body, p {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  height: 100%;
  background-color: var(--beige);
  color: var(--gray-darkest);
  letter-spacing: 1px;
  font-size: var(--font-m);
  font-family: 'PT Sans Narrow', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


p {
  line-height: 1;
}

#root {
  width: 100%;
}

#header {
  padding: var(--space-s) 0;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: var(--space-m);
  background-color: var(--beige-dark);
}

#content {
  max-width: 1280px;
  margin: 0 auto;
}

/*====== Margins ======*/
/*=== All Sides ===*/
.margin-all-2xs { margin: var(--space-2xs); }
.margin-all-xs { margin: var(--space-xs); }
.margin-all-s { margin: var(--space-s); }
.margin-all-m { margin: var(--space-m); }
.margin-all-l { margin: var(--space-l); }
.margin-all-xl { margin: var(--space-xl); }

/*=== Right ===*/
.margin-right-2xs { margin-right: var(--space-2xs); }
.margin-right-xs { margin-right: var(--space-xs); }
.margin-right-s { margin-right: var(--space-s); }
.margin-right-m { margin-right: var(--space-m); }
.margin-right-l { margin-right: var(--space-l); }
.margin-right-xl { margin-right: var(--space-xl); }

/*=== Left ===*/
.margin-left-2xs { margin-left: var(--space-2xs); }
.margin-left-xs { margin-left: var(--space-xs); }
.margin-left-s { margin-left: var(--space-s); }
.margin-left-m { margin-left: var(--space-m); }
.margin-left-l { margin-left: var(--space-l); }
.margin-left-xl { margin-left: var(--space-xl); }

/*=== Top ===*/
.margin-top-2xs { margin-top: var(--space-2xs); }
.margin-top-xs { margin-top: var(--space-xs); }
.margin-top-s { margin-top: var(--space-s); }
.margin-top-m { margin-top: var(--space-m); }
.margin-top-l { margin-top: var(--space-l); }
.margin-top-xl { margin-top: var(--space-xl); }

/*=== Bottom ===*/
.margin-bottom-2xs { margin-bottom: var(--space-2xs); }
.margin-bottom-xs { margin-bottom: var(--space-xs); }
.margin-bottom-s { margin-bottom: var(--space-s); }
.margin-bottom-m { margin-bottom: var(--space-m); }
.margin-bottom-l { margin-bottom: var(--space-l); }
.margin-bottom-xl { margin-bottom: var(--space-xl); }

/*====== Paddings ======*/
/*=== All Sides ===*/
.padding-all-2xs { padding: var(--space-2xs); }
.padding-all-xs { padding: var(--space-xs); }
.padding-all-s { padding: var(--space-s); }
.padding-all-m { padding: var(--space-m); }
.padding-all-l { padding: var(--space-l); }
.padding-all-xl { padding: var(--space-xl); }

/*=== Right ===*/
.padding-right-2xs { padding-right: var(--space-2xs); }
.padding-right-xs { padding-right: var(--space-xs); }
.padding-right-s { padding-right: var(--space-s); }
.padding-right-m { padding-right: var(--space-m); }
.padding-right-l { padding-right: var(--space-l); }
.padding-right-xl { padding-right: var(--space-xl); }

/*=== Left ===*/
.padding-left-2xs { padding-left: var(--space-2xs); }
.padding-left-xs { padding-left: var(--space-xs); }
.padding-left-s { padding-left: var(--space-s); }
.padding-left-m { padding-left: var(--space-m); }
.padding-left-l { padding-left: var(--space-l); }
.padding-left-xl { padding-left: var(--space-xl); }

/*=== Top ===*/
.padding-top-2xs { padding-top: var(--space-2xs); }
.padding-top-xs { padding-top: var(--space-xs); }
.padding-top-s { padding-top: var(--space-s); }
.padding-top-m { padding-top: var(--space-m); }
.padding-top-l { padding-top: var(--space-l); }
.padding-top-xl { padding-top: var(--space-xl); }

/*=== Bottom ===*/
.padding-bottom-2xs { padding-bottom: var(--space-2xs); }
.padding-bottom-xs { padding-bottom: var(--space-xs); }
.padding-bottom-s { padding-bottom: var(--space-s); }
.padding-bottom-m { padding-bottom: var(--space-m); }
.padding-bottom-l { padding-bottom: var(--space-l); }
.padding-bottom-xl { padding-bottom: var(--space-xl); }

/*====== Font Sizes ======*/
.font-size-xs { font-size: var(--font-xs); }
.font-size-s { font-size: var(--font-s); }
.font-size-m { font-size: var(--font-m); }
.font-size-l { font-size: var(--font-l); }
.font-size-xl { font-size: var(--font-xl); }
.font-size-heading4 { font-size: var(--font-heading4); }
.font-size-heading3 { font-size: var(--font-heading3); }
.font-size-heading2 { font-size: var(--font-heading2); }
.font-size-heading1 { font-size: var(--font-heading1); }

/*====== Display rules ======*/

.ph:empty {
  display: none;
}

.content-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.content-title {
  font-size: 2em;
  margin-bottom: var(--space-xs);
  font-weight: 600;
}

.content-subtitle {
  margin-bottom: var(--space-l);
}

/*====== Artsy stuff ======*/

.retro-console {
  background-color: var(--main-green-0);
  width: calc(100% - 3 * var(--space-s));
  padding: var(--space-s);
  border: solid var(--main-green-1) 4px;
  border-radius: 4px;
  box-shadow: inset 0 0 6px var(--main-green-2);
  font-size: 0.8em;
  color: var(--main-green-4);
  font-family: 'Changa', sans-serif;
}

.retro-console table {
  width: 100%;
}

.retro-console tr{
  display: flex;
  align-items: center;
}

.retro-console th:not(:first-of-type),
.retro-console td:not(:first-of-type){
  border-left: dashed 2px var(--main-green-4);
}

.retro-console tbody tr{
  border-top: dashed 2px var(--main-green-4);
}

.retro-console th,
.retro-console td{
  height: 100%;
  padding: var(--space-s) var(--space-m);
  white-space: nowrap;
}

.retro-console th.small,
.retro-console td.small{
  width: 20%;
}

.retro-console th.med,
.retro-console td.med{
  width: 25%;
}

/*====== Device Breakpoints ======*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  body {
    font-size: var(--font-xs);
  }

  #content {
    max-width: calc(100vw - 2 * var(--space-s));
  }

  .content-title,
  .content-subtitle {
    padding: 0 var(--space-xs);
  }

  .retro-console {
    padding: var(--space-xs);
  }

  .retro-console th,
  .retro-console td{
    padding: var(--space-xs) var(--space-s);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}